<ModConfiguration>
  <Id>ReikaKalseki.Cryopathy</Id>
  <Name>Cryopathy</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
	Changes cryoplasm spread logic, to make it more intent on routing around obstacles rather than through them. In particular, it makes it treat ores like reinforced blocks, so that they will only be destroyed as a last resort, and prevents cryo from destroying (ie overwriting) machines under ANY circumstances.
	
	Also adds some new things to do with cryo, such as weaponizing it against magma worms.
  </Description>
</ModConfiguration>